
<nz-layout class="layout">
  <nz-affix>
    <nz-header>
      <h1 class="app-name">Name Generator</h1>
    </nz-header>
  </nz-affix>
  
  <nz-content>
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzLg="7" style="padding: 30px 0" [hidden]="isFormHidden">
        <div class="gutter-box">
          <app-form (generate)="generate($event)" (reset)="reset()" [loading]="loading"></app-form>
        </div>
      </div><!-- .gutter-row-->

      <div nz-col class="gutter-row" nzLg="17" style="padding: 30px 0">
        <div class="gutter-box">
          <app-results 
            *ngIf="results || loading" 
            [results]="results" 
            [loading]="loading"
            [numberOfResult]="numberOfResults"
            (regenerate)="regenerate()"
            (toggleForm)="reset()"
            >
          </app-results>
        </div>
      </div><!-- .gutter-row-->
    </div>
  </nz-content>
</nz-layout>